<link rel="stylesheet" href="/static/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
<form action="/login" method="POST">
	<div class="login">
		<div class="app-name">
			<h1> Matcha </h1>
		</div>
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<a class="login-form">
			<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name">
				</label>
			</div>
			<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass">
				</label>
			</div>
			<input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
			<a href="/passRetrieveForm" style="color: gray; font-size: 9.75px; padding-left: 5px;">
				forgot password ?
			</a>
			<hr />
			<a href="/nwusrForm" id="signup_btn" style="text-align: center" class="btn btn-primary btn-large btn-block">
				Sign up
			</a>
		</div>
	</div>
</form>
