@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Lobster');

    @import url('https://fonts.googleapis.com/css?family=Lobster');
    * {box-sizing: border-box;}
    body { 
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    .header {
      background: #474A59;
      overflow: hidden;
      padding: 20px 10px;
    }
    .header a {
      float: left;
      color: white;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px; 
      line-height: 10px;
      border-radius: 5px;
    }
    .header a.logo {
      font-size: 42px;
      font-family: 'Lobster', cursive;
      color: white;
    }
    .header a:hover {
      transition-delay: .75s; /* delays for 1 second */
      -webkit-transition-delay: 1s; /* for Safari & Chrome */
      background-color: #C0C0C0;
      background-image: linear-gradient(-60deg, #C0C0C0, #00FFFF, #87CEEB, #C0C0C0);
      font-weight: bold;
      font-size: 17.15px; 
    }
    .header a.active {
      background-color: dodgerblue;
      color: white;
    }
    .header-right {
      float: right;
      color: white;
    }
    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }
      .header-right {
        float: none;
      }
    }
    div.gallery {
        border: 1px solid #ccc;
    }
    div.gallery:hover {
        border: 1px solid #777;
    }
    div.gallery img {
        width: 100%;
        height: auto;
    }
    div.desc {
        padding: 15px;
        text-align: center;
    }
    * {
        box-sizing: border-box;
    }
    .responsive {
        padding: 5 5px;
        float: left;
        width: 24.99999%;
    }
    @media only screen and (max-width: 700px) {
        .responsive {
        width: 49.99999%;
        margin: 6px 0;
        }
    }
    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

::selection {
  background: #2D2F36;
}
::-webkit-selection {
  background: #2D2F36;
}
::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
.container10 {
  top: 10%;
  display: relative;
  height: 15%;
  margin: auto auto;
  background: #474A59;
  color: #F1F1F2;
  width: 27%;
}
.container15 {
  top: 2.5%;
  display: relative;
  height: 25%;
  margin: auto;
  margin-top: 10%;
  background: #474A59;
  color: #F1F1F1;
  width: 45%;
}
.forgotpwdbox {
  background: #474A59;
  box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.20);
  color: #F1F1F1;
  position: relative;
}
.camerabox {
  background: #474A59;
  box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.20);
  color: #F1F1F1;
  position: relative;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.wlcmsg {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  font-weight: 900;
  margin-left: 20px;
  margin-top: 40px;
}
.login {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 39px;
  font-weight: 900;
  margin: 40px 20px 10px;
}
.eula {
  color: #999;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
  margin: 1px;
  margin-bottom: 15px;
}
.eulu {
  color: #999;
  font-size: 13.05px;
  line-height: 1.5;
  margin: 20px;
}
.eulo {
  color: white;
  font-size: 10px;
  line-height: 1;
  width: 100%;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.20);
  color: #F1F1F1;
  position: relative;
  margin-right: 0px;
  width: 50%;
}
.rightform1 {
  background: #474A59;
  box-shadow: 0px 0px 40px 15px rgba(0,0,0,0.20);
  color: #F1F1F2;
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%
}
.container1 {
  background: #474A59;
  color: #F1F1F2;
  position: relative;
  width: 27%;
  height: 100%
}
.notprmssn {
  padding-top: 35px;
  font-size: 1em;
  margin-left: 2em;
  display: block;
  position: fixed;
  margin-top: -1.5em;
  line-height: 1.0em;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 40px;
  position: absolute;
}
.form1 {
  padding: 10px 10px 10px 10px;
  position: absolute;
  position: relative;
  margin: auto;
  width: 80%;
}
.form10 {
  padding: 10px 10px 10px 10px;
  position: relative;
  margin: auto;
  width: 80%;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: lightgray;
  border-radius: 1.5px;
  border: 0;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  outline: none !important;
  width: 100%;
}
input::-moz-focus-inner { 
  border: 0; 
}
.submit, #captureSubmit, #filterAddSubmit0, #filterAddSubmit1, #uploadSubmit {
  text-align: center;
  color: #707075;
  margin-top: 20px;
  transition: color 300ms;
}
.submit:focus {
  color: #f2f2f2;
}
.submit:active {
  color: #d0d0d2;
}
.checkBox {
  display: inline-block;
}
#video {
  width: 100%;
}
.Neon {
    font-family: sans-serif;
    font-size: 14px;
    color: #494949;
    position: relative;
    

}
.Neon * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Neon-input-dragDrop {
    display: block;
    width: 100%;
    margin: 0 auto 25px auto;
    padding: 25px;
    color: #8d9499;
    color: #97A1A8;
    background: transparent;
    border: 2px dashed #C8CBCE;
    text-align: center;
    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
    -moz-transition: box-shadow 0.3s, border-color 0.3s;
    transition: box-shadow 0.3s, border-color 0.3s;
}
.Neon-input-dragDrop .Neon-input-icon {
    font-size: 48px;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.Neon-input-text h3 {
    margin: 0;
    font-size: 18px;
}
.Neon-input-text span {
    font-size: 12px;
}
.Neon-input-choose-btn.blue {
    color: #008BFF;
    border: 1px solid #008BFF;
}
.Neon-input-choose-btn {
    display: inline-block;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: bold;
    color: #8d9496;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
    vertical-align: middle;
    background-color: transparent;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
video {
  width: 100%;
}
.canvas {
  width: 100%;
  display: none;
}
.othrimgs {
}
.under
{
  background-image: url(./imgs/Background.png);
  position: relative;
  padding-bottom: 75%;
  margin: 1px;
  z-index: -1;
}
.over
{
  vertical-align: middle;
  position: absolute;
  z-index: -9;
}
