# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    doft.css                                           :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By: saburadi <marvin@42.fr>                    +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2018/10/01 16:27:09 by saburadi          #+#    #+#              #
#    Updated: 2018/10/01 16:27:19 by saburadi         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

body {
	background-color: #FFBFBB;
}

#upperBar {
	background-color: #A0A0A0;
	border-radius: 9px;
	box-shadow: 4.5px 4.5px black;
	height: 15%;
}

#DayOfThe42 {
	width: 33%;
	margin-left: 15px;
}

h1 {
	text-align: center;
	font-size: 42px;
	font-weight: 50%;
	color: white;
}

#Loupe {
	width: 15%;
	float: right;
}

#Refresh {
	width: 25px;
	float: right;
}

#Disconnect {
	margin-right: 15px;
	float: right;
	margin-right: -24px;
	margin-top: 7.25%;
}

#C {
	background-color: #A0A0A0;
	border-radius: 9px;
	box-shadow: 4.5px 4.5px black;
}

#that {
	border: 3.75px solid red;
	border-radius: 4.5px;
}

.pic {
	margin-top: 5px;
	margin-bottom: 5px;
}

.bigpic {
	margin: 10px;
	box-align: center;
}

#chair {
	width: 75px;
	height: 75px;
	float: right;
	background: yellow;
	margin-right: 36%;
	margin-top: -15%;
	position: absolute;
	z-index: -1;
}

.row {
	text-align: center;
	display: flex;
	width: 100%;
	margin: 1px;
}

.column {
	flex: auto;
	margin: 5px;
}

h5 {
	font-family: "Monospace";
	font-style: italic;
	text-align: right;
}
